<mat-selection-list #users>
  <mat-list-option *ngFor="let user of usersList; let i=index" [ngClass]="{ gray: i%2}">
    <div>
      <span class="item">{{user.username}}</span>
      <span class="item">{{user.name}}</span>
      <span class='item' *ngIf="user.role === 'Admin'">{{user.role}}</span>
    </div>

  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{users.selectedOptions.selected.length}}
</p>

<!-- <div *ngFor=" let user of usersList">
        <span *ngIf="user.role === 'Admin'">
          {{ user.name }}
        </span>
        <span [ngClass]="{ gray: user.role === 'Admin' }">
          {{ user.name }}
        </span>
    </div> -->
