.item {
  width: 180px;
  display: inline-block;
}

.gray {
  background-color: #eee;
}

.line {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
